div#navbarSupportedContent {
    justify-content: center;
}

button.Demo {
    background: #ffd500;
    border: none;
    color: #002840;
    padding: 6px 20px;
    border-radius: 2.1rem;
    font-size: 16px;
}

button.Login {
    background: gold;
    border: none;
    color: #002840;
    padding: 6px 20px;
    border-radius: 2.1rem;
    font-size: 16px;
}

.dropdown-menu.show {
    width: max-content;
    display: block;
}

ul {
    list-style-type: none;
}

ul#productsShow {
    padding: 0;
}
/* DEGİSSSSSSTİ */
nav.navbar.navbar-expand-lg.navbar-light a.nav-link:hover::after{
    height: 0.3rem;
    position: absolute;
    content: "";
    display: block;
    width: 5%;
    bottom: 0;
    /* background: #00b2db; */
}
nav.navbar.navbar-expand-lg.navbar-light li.nav-item:hover::after{
    height: 0.3rem;
    position: absolute;
    content: "";
    display: block;
    width: 4%;
    bottom: 0;
    background: #00b2db;
}
li.nav-item {
    margin-right: 5px;
}



/* NAVBAR > PRODUCTS 1. BÖLÜM */


.col-7.card-item {
    padding-bottom: 3rem;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.p {
    text-decoration: none;
}

ul.nav.nav-tabs {
    justify-content: space-between;
}

.dropdown-menu.show {

    float: right;
}

img#parentAndChild {
    width: 100%;
}

a.nav-link.pass {
    font-size: 1.2rem;
    line-height: .5rem;
    color: #00b2db !important;
    background-color: transparent;
    text-decoration: none;
    padding: 2.0rem 2rem;
    border: 0;
    position: relative;
    text-align: center;
    height: 100%;
    font-weight: 500 !important
}

a.nav-link.pass.active {
    color: #002840 !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    box-shadow: inset 0 1rem 3rem rgb(7 40 64 / 7%), 0 1rem 3rem rgb(7 40 64 / 7%);
    border: 0;
}

#episode_1 {
    display: none;
}

#episode_2 {
    display: flex;
}

#episode_3 {
    display: none;
}

.card.card_2 {
    margin: 0;
}
li#sse:hover::after{
    content: "";
    position: absolute;
    width: 13%;
    height: 5px;
    background: #00b2db;
    top: 72px;
    transition: opacity .2s linear;
    opacity: 1;
    border-radius: 0.2rem!important;
}

a {
    color: #002840 !important;
    text-decoration: none !important;
}
 /* NAVBAR > PRODUCTS 2. BÖLÜM */

.card {
    border-right: none !important;
}
.discoveryPart {
    display: contents;
}

#productValues_1>li, #productValues_2>li, #productValues_3>li {
    margin-bottom: 8px;
}

.siteSearch {
    background-color: #FFD500;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    margin-top: 15%;
    margin-left: 22%;


}

.siteSearch>img {
    margin-left: 12px;
    margin-top: 9px;
}

#drop {
    padding-top: 30px;
    background-color: white;
}

section#search {
    z-index: -1;
}
.col-6 {
    padding-right: 0;
    padding-left: 0;
}

.col-6>.col-6,
.col-5 {
    display: inline-block;
}

.col-3>.row>.col-6 {
    border: 1px solid rgba(0, 0, 0, .125) !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

#card_11 > a >p {
    margin-top: 2px !important;
}
#card_22 > a >p{
    font-size: 68% !important;
}
#card_22 > a >p{
    margin-top: 10px;
}

#pop>.col-5 {
    height: 100px;
}

ul#productValues_1, ul#productValues_2, ul#productValues_3 {
    padding: 0;
}

.dropdown-menu.show {
    width: 100%;
}

div#dropMenu {
    max-width: 73%;
    margin: auto;
}

#populars>.col-6 {
    display: flex;
}

#pop>.col-5 {
    border: 1px solid rgba(0, 0, 0, .125) !important;
    border-radius: 0.8rem;
    margin-bottom: 1rem;

}

#pop>.col-5>p {
    width: max-content;
    font-size: small;
    margin-top: 30%;
}

#ıntelligence {
    width: 100% !important;
    text-align: center;
    margin-top: 5% !important;
}

.enjoyCard>p {
    margin-bottom: 0%;
}

div#card_11 {
    margin-right: 1rem;
    margin-left: 4%;
}

div#card_33 {
    margin-right: 1rem;
    margin-left: 4%;
}

div#discoveryPopular {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .125) !important;
    border-radius: 0.8rem !important;
    height: 280px;
}

#discoveryPopular>.row {
    display: flex;
}

.popularSpan {
    margin-left: 4%;
}

#populars>.col-6>.col-5 {
    background: #f3fbfe;
    margin-right: 15px;
    border-radius: 0.8rem
}

.col.col-md-3 {
    border: 1px solid rgba(0, 0, 0, .125) !important;
    border-radius: 0.8rem !important;
}

a.enjoyCard {
    padding: 20px;
}

div#smuggy {
    padding-right: 0;
}

#populars>.col-6 {
    padding-left: 0;
}
#productValues_1{
    display: block;
}
#productValues_2 {
    display: none;
}
#productValues_3{
    display: none;
}
li#aae:hover::after{
    content: "";
    position: absolute;
    width: 13%;
    height: 5px;
    background: #00b2db;
    top: 72px;
    transition: opacity .2s linear;
    opacity: 1;
    border-radius: 0.2rem!important;
}
#discoveryCard.active{
    background-color: #f3fbfe;
    border: none;
}
#engagementCard.active{
    background-color: #f3fbfe;
    border: none;
}
#contentCard.active{
    background-color: #f3fbfe;
    border: none;
}


/* NAVBAR > PRODUCTS 3. BÖLÜM */

.col-md-3 {
    padding: 20px 30px 30px;
}

ul.with-tree li:before {
    top: 50%;
    transform: translateY(-50%);
    content: "";
    left: -1.7rem;
    width: 1rem;
    height: 0.1rem;
    background-color: red;
    position: absolute !important;
}

ul.with-tree li:first-child:after {
    height: 1.5rem;
}

ul.with-tree li:after {
    bottom: 50%;
    width: 0.1rem;
    height: 3.5rem;
    content: "";
    left: -1.7rem;
    background-color: red;
}

ul.with-tree {
    padding-left: 4.4rem;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.ul.with-tree li {
    position: relative !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.realTime {
    max-width: 100%;
}

.thinkTime {
    margin-right: 1rem;
}

.body {
    font-family: "Bloomreach Sans";
}

span {
    font-size: 16px;
}

p.s-xs.mb-3 {
    font-size: 14px;
}
li#ffe:hover::after{
    content: "";
    position: absolute;
    width: 16%;
    height: 5px;
    background: #00b2db;
    top: 72px;
    transition: opacity .2s linear;
    opacity: 1;
    border-radius: 0.2rem!important;
}


/* NAVBAR > Learn */

div#dropsMenu {
    max-width: 73%;
    margin: auto;
}
div#resourceLibrary, div#productResources  {
    display: inline-flex;
}
.container_2 > ul{
    padding: 0%;
}
.container_2 > h6{
    margin-bottom: 20px;
    font-size: 24px;
}
.container_2 > ul > li{
    padding: 9px 0;
}
div#productResources {
    margin-left: 60px;
}

/* NAVBAR > Learn > Right Block */

p.learnRightTitle {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 4rem!important;
    color: #fff;
}
.rightContainer {
    max-width: 350px;
    padding-left: 100px;
    display: inline-block;
}
img.learnImg{
    max-width: 100%;
    height: auto;
}
.rightContainer::after{
    content: "";
    width: 100vw;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #002840!important;

}
div#xx {
    position: relative;
    padding-top: 60px;
}
div#yy {
    padding-top: 60px;
}

#ppp{
    background: #00b2db;
    border-color: #00b2db;
    color: #fff;
    font-size: 18px;
    padding: 12px 34px;
    line-height: 1;
    font-weight: 500;
    border-radius: 2.5rem;
    text-decoration: none;
    margin-top: 34px!important;
}
.subMenu{
    display: none;
    /* background: white; */
}
li.nav-item:hover > span + .subMenu {
    display: flex;
    position: absolute;
    left: 0;
}
.subsMenu{
    display: none;
    background: white;
}
.subsMenu > .row{
    max-width: 100%;
}
li.nav-item:hover > span + .subsMenu {
    display: initial;
    position: absolute;
    left: 15%;
    z-index: 5;
    margin-top: 25px;
}
li.nav-item {
    align-self: center;
    margin-left: 35px;
}
#wq{
    padding-top: 8rem;
}
.textCenter{
    margin: 0 95px;
    padding: 0 15px;
    text-align-last: center;
    
}
h1.bigTitle{
    text-align: center;
    font-size: 64px;
}
p.textCenterText {
    text-align: center;
    font-size: x-large;
}
a.btn.btn-primary {
    background: #00b2db;
    border-color: #00b2db;
    color: #fff!important;
    font-size: 18px;
    padding: 17px 41px;
    line-height: 1;
    font-weight: 500;
    border-radius: 25px;
    text-decoration: none;
}
.Texxt{
    margin-bottom: 60px;
}
.d-flex.flex-column.h-100{
    text-align: start !important;
}

/* sec1 */
.carousel.slide.carousel-fade.br-partners-slider.pl-lg-50.pl-xl-100.pr-sm-150.pr-md-250.pr-lg-0{
    z-index: -1;
}
section.sec1{
    padding-bottom: 120px;
    padding-top: 120px;
}
section.sec1 > .container > .row{
    align-items: center;
}
section.sec1 > .container > .row > .col-7 {
    padding-right: 80px;
}
#sec1BtnBlock>a>span {
    font-size: 18px;
}
#sec1Title{
    margin-bottom: 40px;
    font-size: 60px;
}

a.btn.btn-outline-primary {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-weight: 500;
    border-radius: 2.5rem;
    text-decoration: none;
    font-size: 18px;
    padding: 13px 40px;
    background: 0 0;
    border-color: #1bb6dd;
    color: #002840;
}
div#sec1BtnBlock {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
#sec1svg{
    bottom: 320px;
    right: -8%;
    position: absolute;
}
#svg1{
    position: relative;
    z-index: -1;
}
#svg2{
    z-index: -1;
    margin-top: 54px;
    margin-bottom: 0;
    position: relative;
}
body{
    overflow-x: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}
/* sec2 */

section.sec2{
    padding-bottom: 120px;
    padding-top: 120px;
    background-color: rgba(0,178,219,.1)!important;
}
section.sec2 > .row{
    justify-content: space-around;
}
.d-flex.flex-column.h-100{
    text-align: center;
}
.d-flex.flex-column.h-100 > .mb-auto > h2{
    font-size: 54px;
    margin: 0 0 20px;
}
.d-flex.flex-column.h-100 > .mb-auto > p{
    font-size: 18px;
    margin-bottom: 10px;
}
a.btn.btn-primary.mt-5.mt-lg-40 > span{
    font-size: 20px;
}
/* sec3 */
section.sec3{
    background-color: #002840!important;
    padding-bottom: 120px;
    padding-top: 120px;
}
section.sec3 > .container > .row {
    justify-content: center;
}
section.sec3 > .container >  .row > .col-12{
    text-align: center;

    
}
section.sec3 > .container >  .row > .col-12 > h2{
    font-size: 55px;
    margin-bottom: 20px;
    color: white;
}
section.sec3 > .container >  .row > .col-12 > p {
    font-size: 17px;
    color: white;
}
.card > .icon {
    margin-bottom: 30px;
}
#partnerChoose{
    margin-top: 80px;
}
#partnerChoose > .col-md-4{
    display: table-cell;
}

#partnerChoose > .col-md-4  >.card{
    align-items: center;
    text-align: center;
    margin-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 1rem;
    padding-left: 25px;
    padding-right: 25px;
    height: 419px;
    
}
.partnerChooseCardText{
    text-align: center;

}
.partnerChooseCardText > h4.color-primary{
    font-size: 30px;
    margin-bottom: 20px;
}
.partnerChooseCardText > .mb-lg-5 {
    font-size: 16px;
    line-height: 26px;
}

/* sec4 */
section.sec4{
    background-color: rgba(0,178,219,.1)!important;
    padding-top: 120px;
    padding-bottom: 120px;
}
#tamaraText{
    font-size:42px;
    margin-bottom: 40px;
    width: 90%;
    display: inline-block;
}
section.sec4 > .container > .row > .col-10 {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}
section.sec4 > .container > .row{
    text-align: center;
}
section.sec4 > .container > .row > .col-10 > h5 {
    font-size: 24px;
}
/* sec5 */
section.sec5{
    padding-bottom: 120px;
}
section.sec5 > .container > .row > .col-10 > h2 {
    font-size: 50px;
}
p#partnersTriers {
    font-size: 19px;
}
section.sec5 > .container > .row.my-5{
    margin-top: 110px;
    margin-bottom: 110px;
}
#rank{
    display: flex;
    position: relative;
}
#rank > .col-md-5 {
    min-height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: table-cell;
}
#rank > .col-md-5 > .h-100{
    border-color: #d8d8d8;
    border: 2px solid ;
    border-radius: 8px!important;
    padding-bottom: 60px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 60px;

}
#rank > .col-md-5 > .h-100 > ul{
    padding: 0;
}
#middleItemGold{
    border-color: #ddba5d!important;
    border: 2px solid ;
    border-radius: 8px!important;
}
#lastItemPlat{
    border-color: #8c9ca2!important;
    border: 2px solid ;
    border-radius: 8px!important;
}
h4.mr-3 {
    margin: 0 10px 20px 0;
    font-size: 30px;
    margin-right: 10px;
}
p.font-weight-medium.mb-40{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 40px;
}
section.sec5 > ul li:not(:last-child):not(.nav-item){
    margin-bottom: 27px;
    display: flex;
    align-items: flex-start;
}
.sec7 > .container > .row > .col-7 > .list-number > li{
    display: flex;
    align-items: flex-start;
}
span.badge.badge-2.badge-pill.bg-primary.color-white.font-weight-medium.text-uppercase {
    background-color: #002840!important;
    padding: 4px 10px;
    letter-spacing: .088rem;
    font-size: 11px;
    border-radius: 18px;
    top: 0;
}
h6.mt-4.mt-lg-20.mb-0{
    margin-top: 20px!important;
    margin-bottom: 20px!important;
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
}
a.with-arrow.with-arrow-right{
    padding-right: 28px;
    font-size: 16px;
}
hr{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    border-color: #edf0f2;
}
/* sec6 */
section.sec6{
    padding-top: 120px;
    padding-bottom: 120px;
}
section.sec6 > .container > .row >.col-5 > h2{
    font-size: 55px;
}
section.sec6 > .container > .row >.col-5 > a > span{
    color:#0d6efd;
}
#greekhelmet{
    height: 250px;
}
/* sec7 */
.sec7 > .container > .row > .col-7 > .list-number > li{
    display: flex;
    align-items: flex-start;
}
section.sec7{
    padding-bottom: 120px;
    padding-top: 120px;
}
h3.pr-5.pr-md-40.pr-lg-0.mb-40{
    font-size: 41px;
}
.partnerFormMınıTitle{
    font-size: 26px;
}
ul.list-number{
    padding-right: 70px;
}
.partnerFormMınıText{
    font-size: 20px;
}
ul.list-number > li >span.before {
    background: #ffd500!important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-top: 0.5rem;
}
ul.list-number > li > .ml-20 {
    margin-left: 20px;
}
.sec7svg1Img{
    z-index: -1;
}
.sec7svg2Img{
    z-index: -1;
    margin-top: 54px;
}
.sec7svg{
    bottom: -80px;
    right: -84%;
    position: relative;
}
.col-7.pr-lg-80.mb-50.mb-md-60.mb-lg-0 > img.img-fluid.mb-40 {
    margin: 0 0 40px;
}
.col-7.pr-lg-80.mb-50.mb-md-60.mb-lg-0{
    padding-right: 80px;
}

/* form */
h3.color-white.mb-30{
    font-size: 43px;
}

.form-1{
    max-width: 100%;
}
h3.color-white.mb-30{
    margin-top: -489px;
    margin-bottom: 20px;
}
#username, #lastname,#email,#companyname,#phonenumber,#jobtitle,#website{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size: 14px;
    padding: 14px 12px;
    line-height: 1;
    border-radius: 0.4rem;
    border-color: #e8e8ea;
}
#username, #lastname{
    width: 102%;
}
.username{
    display:-webkit-inline-box;
    margin-bottom: 10px;
    margin-right: 5px;

}
.lastname{
    display:-webkit-inline-box;
    margin-bottom: 10px;
    margin-left: 5px;
}
.email,.companyname,.phonenumber,.jobtitle,.website{
    display: grid;
    margin-bottom: 10px;
}
.sec7svg{
    z-index: -1;
}
.rounded-sm.bg-primary.px-4.py-40.px-md-120.px-lg-50.pt-md-50.pb-md-40.py-lg-40.position-relative {
    background-color: #002840!important;
    color: #fff;
    padding-bottom: 40px;
    border-radius: 1rem!important;
}
#checkLink {
    color: #0DB6DD!important;
}
#toInformText > p{
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 12.5px;
}
#toInformText > p > a {
    color: #0DB6DD!important;
}
#getInTouchBtn{
    background: #00b2db;
    border-color: #00b2db;
    color: #fff;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 2.5rem;
    font-weight: 500;
}
/* FOOTER */
footer{
    padding-top: 80px;
}
.rightTextLink{
    font-size: .8rem;
    line-height: .9rem;
    color: rgba(0,40,64,.6);
    margin-left: 20px;
}
a.span{
    position: relative;
    top: 0.1rem;
}
img.gartner{
    width: 100%;
}
.rightTextLinkGroup{
    display: inline-block;



}
.footerFirstEpisode{
    border: 0.1rem solid #dee4e8;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 60px;
    display: flex;
    justify-content: space-between!important;
    align-items: center!important;
}
.maxWidthFoot {
    width: 250px !important;
}
.maxWidthFoot > .col-6{
    width: 49%;
    display: inline-block;
}
.footLastImg{
    margin-top: 8px;
}
.maxWidthFoot > .col-6 > a > img{
    width: 100%;
}
.rightTextLink > span{
    font-size: 8px;

}
.footerFirstEpisode > a {
    width: 85%,;
}

/* footer col8 */
.diarrheal > li:not(:last-child){
    padding-bottom: 20px;
}
.subtitle{
    font-size: 15px;
    opacity: 1;
}
.diarrheal > li > a > span {
    opacity: .6;
    font-size: 13px;
}
.diarrheal {
    padding-left: 0;
}

.title {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 21px;
    font-weight: 500!important;
}

div#smuggy{
    padding-left: 0!important;
}

/* FOOT */
.reserv{
    position: relative;
    top: 1px;
    font-size: 16px;
    line-height: 24px;
    opacity: .6;
}
.social{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    opacity: .6;
    right: 0;
}
.socials{
    justify-content: flex-end;
    display: flex;
}

/* responsive */
@media only screen and (max-width: 767px){
    .sec7 > .container > .row > .col-sm-12.col-md-5{
        align-self: self-end;
        margin-top: 150% !important;
    }
}
@media only screen and (max-width: 768px){
 
    .sec7 > .container > .row > .col-sm-12.col-md-5{
        align-self: self-end;
        margin-top: 0;
    }
    section.sec2{
        text-align-last: center;
    }
   #sec1Title{
       font-size: 37px;
   }
    #sec1svg{
        bottom: 0;
        right: 0;
        position: inherit;
    }
    div#sec1BtnBlock{
        display: block;
        margin-left: 12%;
    }
    #svg1 > img, #svg2 > img{
        width: 100%;
    }
    section.sec1 > .container > .row > .col-7{
        padding: 0;
    }
    .carousel.slide.carousel-fade.br-partners-slider.pl-lg-50.pl-xl-100.pr-sm-150.pr-md-250.pr-lg-0{
        top: -135px;
    }
    .sec2 > .container > .row > .col-6{
        width: 100%;
    }
    .sec2 > .container > .row > .col-6 > .d-flex.flex-column.h-100{
        padding-bottom: 20px;
    }
    #partnerChoose > .col-md-4{
        display: block;
        width: 100%;
        padding-bottom: 20px;
        
    }
    #partnerChoose > .col-md-4 >.card{
        margin-left: 0;
    }
    #tamaraText{
        font-size: 26px;
    }   
    #rank{
        width: 100% !important;
        display: contents!important;
    }
    #rank > .col-md-5 {
        display: inline-block;
        min-height: 0;
        margin-bottom: 20px;
    }
    .sec6 > .container > .row > .col-5{
        width: 100%;
    }
    section.sec6 > .container > .row >.col-5 > h2{
        font-size: 29px;
    }
    .sec6 > .container > .row > .col-7{
        width: 100%;
    }
    .sec6 > .container > .row > .col-7 > .row > .col-4{
        align-self: center;
    }
    
    .sec7svg{
        display: none;
    }
    .lastname{
        margin-left: 0;
    }


}
/* navbar responsive */
@media only screen and (min-width: 992px){
    .siteSearch>img{
        margin-top: 9px;
        margin-left: 2px;
    }
    #pop>.col-5{
        text-align: -webkit-center;
        padding-top: 6%;
    }
    .siteSearch{
        margin-top: 0;
        margin-left: 0;
    }
    footer > .container > .row {
        justify-content: center;
    }
    .sec_5dıv{
        height: 100vh;
    }
    button.Demo, button.Login{
        padding: 0!important;
    }
    li.nav-item:hover > span + .subMenu{
        margin-top: 0px!important;
    }
    .subMenu > #dropMenu > .col-12 >ul > li{
        margin-left: 0;
    }
    li#sse:hover::after, li#aae:hover::after{
        width: 185px!important;
        top: 48px!important;
    }
    li#ffe:hover::after{
        width: 243px!important;
        top: 48px!important;
    }
    #ssss{
        width: 25%!important;
    }
    #episode_1 > .row > .col-6{
        width: 75%!important;
    }
    #populars > .col-md-3{
        width: 25% !important;
    }
    #populars > .col-3{
        width: 25% !important;
    }
    #populars > .col-6{
        width: 50% !important;
    }
    #populars > .col-6 > .col-5{
        
        width: 41.66666667% !important;
    }
    #populars > .col-6 > .col-6{
        width: 50% !important;       
    }
    
    #ıntelligence{
        width: 100% !important;
        text-align: center;
        font-size: 14px;
        text-align: center;
    }
    /* learn */
    #resourceLibrary, #productResources{
        width: 33.33333333% !important;
    }
    #xx, #yy {
        width: 50% !important;

    }





    
}

@media only screen and (min-width: 360px){
    
    section.sec1{
        padding-bottom: 50px;
        padding-top: 50px;
    }
    a.btn.btn-primary {
        margin-bottom: 20px;
    }
    a.nav-link.pass{
        padding-bottom: 20%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10%;
    }
    li.nav-item:hover > span + .subMenu{
        background-color: white;
        z-index: 9;
    }
    #ssss {
        width: 100%;

    }
    #episode_1 > .row > .col-6{
        width: 100%;
    }
    #episode_1 > .row > .col-6 > .row > .col-5{
        z-index: 5;
        width: 100%;
        margin-bottom: 5%;
    }
    #populars > .col-md-3{
        width: 100%;
    }
    #populars > .col-3{
        width: 100%;
    }
    #populars >  .col-6{
        width: 100%;
        display: flex;
    }
    #populars >  .col-6 > .col-5{
        width: 100%;
    }
    #discoveryPopular{
        width: 100%;
    }
    #episode_3 > .row > .col-md-3{
        padding: 0 0 15px 0;
        
    }
    li#sse:hover::after{
        width: 46%;
        top: 39px;
    }
    li#aae:hover::after{
        width: 45%;
        top: 96px;
    }
    li#ffe:hover::after{
        width: 61%;
        top: 157px;
    }
    #yy{
        width: 100%;
    }
    #resourceLibrary{
        width: 100%;
        margin-bottom: 30px;
    }
    #productResources{
        width: 100%;
        margin-left: 0!important;
    }
    li.nav-item:hover > span + .subsMenu{
        left: 0%;
    }
    .container_2 > ul > li{
        padding: 4px 0;
    }
    .container_2 > h6{
        margin-bottom: 10px;
    }
    #xx{
        width: 100%;
        text-align: center;
    }
    .rightContainer {
        max-width: 290px;
        padding-left: 0;
        display: inline-block;
        margin-bottom: 34%;
    }
    #ppp{
        margin-top: 30%!important;
    }
    #butongrup{
        text-align: center;
    }
    #butongrup {
        display: inline-block;
    }
    #butongrup2 {
        text-align: center;
    }
    

}
/* foot */
@media only screen and (min-width: 360px){

    .rightTextLinkGroup{
        display: contents;
    }
    footer > .container > .row > .col-4, footer > .container > .row > .col-8{
        width: 50%!important;
        
    }
    .rightTextLink{
        margin-left: 5%!important;
    }
    .maxWidthFoot > .col-6 {
        width: 100%!important;
        margin-bottom: 2%!important;
    }
    .diarrheal > li:not(:last-child){
        padding-bottom: 2%!important;
    }
    footer > .container > .row > .col-8 > .row > .col-md-4 {
        margin-bottom: 10%!important;
    }
    .menuEpisode > .title{
        padding-bottom: 5%!important;
    }
}
/* foot */



@media only screen and (min-width: 1759px) {
    #discoveryPopular>.row {
        display: flex;
    }
    #card_44 > a >p {
        margin-top: 18%;
        margin-bottom: 4%;
    }
    #card_33 > a >p {
        margin-top: -3%;
        margin-bottom: 4%;
    }

}
div#smuggy{
    padding-left: 0!important;
}
@media only screen and (max-width: 500px){
#rank > .col-md-5{
    width: 100%;
}
}
@media only screen and (max-width: 992px){
    #discoveryPopular{
        display: none;
    }
    
}
@media only screen and (min-width: 992px){
        #discoveryPopular{
            display: block;
        }
}
/* navbarrrr */
@media only screen and (max-width: 992px){
    button.navbar-toggler {
        margin-left: 29%;
    }
    #butongrup {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
